/* 레이아웃 */
html { --mainColor: #23b7a5; font-size: 20px; }
a:hover,
.color { color: var(--mainColor); }
.bgColor { background-color: var(--mainColor); color: #fff; }

/* 폰트 */
h1 { font-size: calc(min(50px, 3vw)); }
h2 { font-size: 50px; }
h3 { font-size: 24px; }

/* 헤더 */
header { display: block; width: 100%; padding: 20px 0; position: fixed; top: 0; left: 0; z-index: 99; transition: 0.5s; color: var(--subGray_60); }
header.on { background-color: #ffffffcc; -webkit-box-shadow: 0 0 35px #0003; box-shadow: 0 0 35px #0003; }
header .headerWrap img { width: 150px; height: 40px; }

/* footer */
footer { padding-bottom: 50px; background-color: var(--subGray_5); color: var(--subGray_60); font-size: 16px; }
footer .linkWrap { margin-bottom: 50px; padding: 10px 0; border-top: 1px solid var(--subGray_30); border-bottom: 1px solid var(--subGray_30); }
footer .linkWrap .layoutCenter ul li { margin: 0 20px; }
footer .linkWrap .layoutCenter ul li:first-child,
footer .linkWrap .layoutCenter ul li:last-child { margin: 0; }
footer .linkWrap .layoutCenter ul li img { width: 30px; }
footer .info .num { margin-top: 30px; }
footer .info span { display: inline-block; margin: 0 20px; }

/* 섹션 */
main section { width: 100%; margin: 80px 0; }
main section .title + p { margin-top: 20px; word-break: break-all; }

/* 플로팅 효과 */
main section .title.scroll,
main section .title.scroll + p,
.orderP .steps.scroll { transform: translateY(100px); opacity: 0; }
main section .title.scroll.scrollAction,
main section .title.scroll.scrollAction + p,
.orderP .steps.scroll.scrollAction { animation: showUp 1s forwards; }
main section .title.scroll.scrollAction + p,
.orderP .steps.scroll.scrollAction { animation-delay: 0.5s; }
@keyframes showUp { 100% { transform: translateY(0); opacity: 1 } }
.promotion ul li.scroll .contentWrap,
.promotion ul li.scroll:nth-of-type(2) .imgWrap { transform: translateX(100%); opacity: 0; }
.promotion ul li.scroll .imgWrap,
.promotion ul li.scroll:nth-of-type(2) .contentWrap { transform: translateX(-100%); opacity: 0; }
.promotion ul li.scroll.scrollAction .contentWrap,
.promotion ul li.scroll.scrollAction .imgWrap { animation: showSide 1.5s forwards; }
@keyframes showSide { 100% { transform: translateX(0); opacity: 1 } }

@media (max-width: 1200px) and (min-width: 768px){
    /* 레이아웃 */
    .layoutCenter { max-width: auto; padding-left: 20px; padding-right: 20px; }
}
@media (max-width: 768px){
    /* 레이아웃 */
    #main { min-width: 360px; font-size: 18px; }
    .layoutCenter { width: 90%; }
    main section { margin: 100px 0; }

    /* 폰트 */
    h1 { font-size: calc(min(35px,8vw)); }
    h2 { font-size: 30px; }
    h3 { font-size: 25px; }

    /* 헤더 */
    header { padding: 15px 0; }
    header .headerWrap img { width: 100px; height: 27px; }

    /* footer */
    footer { font-size: 14px; }
    footer .linkWrap .layoutCenter { display: block; }
    footer .linkWrap .layoutCenter ul { -ms-flex-pack: center; -webkit-box-pack: center; justify-content: center; }
    footer .linkWrap .layoutCenter ul:last-child { margin-top: 10px; }

    /* 플로팅 효과 */
    .orderP .steps.scroll.scrollAction { animation-delay: 0; }
}